.home-page{
    .banner{
        background-image: url("/assets/banner.png");
        height: 100px;
        width: 100vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}