
.custom-shadow-rounded{
    box-shadow: 0 0.125rem 0.5rem rgba(0.7, 0.7, 0.7, 0.7) !important;
    border-radius: 1.1rem!important;
    width: 80%;
    height: 100%;
}

.center{
    align-self: center;
}

.yellow{
    color: #F7CA18;
}