.bg-color {
  background-color: #008699 !important;
}

.custom-navbar {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
}

.divider-vertical {
  height: 30px;
  margin: 0 0 0 9px;
  padding: 0 0 0 20px;
  border-left: 1px solid white;
}

.text-primary{
    color: white
}

a.dropdown-toggle::after{
    //display: block !important;
    color: white !important;
}

.navbar-brand{
    margin-right: 0 !important;
}

a{
    padding:1 1 1 1 !important
}

.nav-link{
    padding: .2rem !important
}
