.bg-color {
  background-color: #008699 !important;
}

.custom-navbar {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
}

.divider-vertical {
  height: 40px;
  margin: 0 0 0 9px;
  padding: 0 0 0 20px;
  border-left: 1px solid white;
}

.text-primary {
  color: white;
}

.navbar-brand {
  margin-right: !important;
}

a {
  padding: 1 1 1 1 !important;
}

.nav-link {
  padding: 0.3rem !important;
}

.nav-dropdown-bound{
    height: 37px;
}
