.textInput{
    div{
        padding-left: 10px;
        padding-right: 10px;

    }
    h6{
        font-size: 14px;
    }
    textarea{
        margin-right: 50px;
        min-width: 350px;
        max-width: 400px;
        font-size: 14px;
    }
}