.textMoneyInput{
    div.col-8{
        padding-left: 10px ;
        padding-right: 10px;
    }
    div.col-4{
        padding-left: 10px ;
        padding-right: 10px;
    }
    h6{
        font-size: 14px;
    }

    input{
        font-size: 14px;
    }

    span.input-group-text{
        font-size: 14px
    }

    .input-group{
        min-width: 350px;
        max-width: 400px;
        font-size: 14px;
        margin-right: 50px;
    }
}